*{
  margin: 0;
}



#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  height: 100vh;
}
.div-pokemonList-pokemon {
  background-color: rgba(226, 55, 43, 0.507);
  padding: 1rem;
  flex-basis: 15%;
  flex-grow: 1;
}
#div-pokemonList {
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}
#h2-pokemon-header {
  text-align: center;
}
#div-pokemonList-all {
  background-color: white;
}